body {
  margin: 0;
  padding: 20px;
  background-color: whitesmoke;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aqua;
  padding: 10px;
}

.navLink {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-left: 20px;
}

img {
  height: 80px;
}

.card {
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  background-color: aqua;
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: aquamarine;
}

.productWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 20px;
}