body {
  margin: 0;
  padding: 20px;
  background-color: whitesmoke;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aqua;
  padding: 10px;
}

.navLink {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-left: 20px;
}

img {
  height: 80px;
}

.card {
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.btn {
  background-color: aqua;
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: aquamarine;
}

.productWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 20px;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin: 20px;
  padding: 15px;
  border-radius: 5px;
}

.cart:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.rbtn {
  border: none;
  outline: none;
  background-color: #e01e37;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.rbtn:hover {
  background-color: #fb4d64;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}