.ucard {
    display: flex;
}

.users {
    width: 10vw;
    height: 6vh;
    margin: 50px;
    padding: 10px;
    background-color: aquamarine;
    border: 2px solid rgb(67, 136, 113);
    border-radius: 8px;
}